@charset "utf-8";
body {
	background-color: #FFFFFF;
}
.navbar.navbar-default .container-fluid {
	background-color: #C6ECED;
	color: #C6ECED;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	color: #0B0909;
	border: none;
}
.container-fluid .navbar-header .navbar-brand {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-style: italic;
	font-size: x-large;
	font-variant: normal;
	font-weight: bold;
	color: #0B0909;
}
h3 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: center;
	font-weight: bold;
}
p{
	font-weight: normal
}
td{
	padding: 0 15px 0 15px;
}
		
h2 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: left;
	font-weight: bold;
}
footer {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: center;
	font-weight: bolder;
}

.image-fill {
	padding-bottom: 10px;
		
}
